* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
}

h1 {
    margin-bottom: 20px;
}

#status {
    margin-bottom: 20px;
    font-size: 20px;
}
.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin: 0 auto; /* Center the container */
}

.clock {
    position: relative;
    width: 350px; 
    height: 350px;
    background-image: url('clock.png'); 
    background-size: cover;
    background-position: center;
    margin-left: calc(50% - 175px); 
    border-radius: 50%;
}



.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timerDisplay {
    font-size: 48px; /* Bigger font size for the timer */
    font-weight: bold;
    color: #333;
}

.settings {
    margin-top: 20px;
}

select {
    margin: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
